.signInHeading {
  font-weight: 700;
  font-style: italic;
  font-size: 28px;
  font-family: var(--font-ivory-ll), serif;
  color: white;
}

.iconBox {
  position: relative;
  z-index: 2;

  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;

  padding: 14px 20px;

  margin-bottom: 10px;
  margin-top: 10px;

  border-radius: 12px;

  background: var(--border);

  border: 1px solid var(--border);

  backdrop-filter: blur(18px);

  color: var(--primary);

  font-size: 18px;
}

.subtitle {
  font-weight: 400;
  font-family: var(--font-general-grotesque);

  color: var(--text-muted);

  font-size: 14px;
}
.buttonText {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 400;
  font-family: var(--font-general-grotesque);
  padding: 0;

  color: var(--text-muted);

  font-size: 14px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  margin-bottom: 12px;

  color: var(--text-secondary);

  font-size: 15px;
}

.form input {
  width: 100%;

  padding: 12px 0;

  border: none;
  border-bottom: 1px solid var(--border-light);

  background: transparent;
  outline: none;
  box-shadow: none;

  color: var(--primary);

  font-size: 16px;

  outline: none;

  transition: border-color 0.25s ease;
}
.form input:-webkit-autofill,
.form input:-webkit-autofill:hover,
.form input:-webkit-autofill:focus,
.form input:-webkit-autofill:active {
  -webkit-text-fill-color: #fff !important;
  caret-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;

  transition: background-color 9999s ease-in-out 0s;
}

.form input::placeholder {
  color: var(--text-placeholder);
}

.form input:focus {
  border-bottom-color: var(--primary);
}

.error {
  margin-top: 10px;

  color: var(--danger-light);

  font-size: 14px;
}

.terms {
  margin: 34px auto 30px auto;
  align-self: center;
  text-align: center;
  width: 80%;

  font-size: 14px;
  font-weight: 400;
  font-family: var(--font-general-grotesque);
  color: var(--text-faded);
  line-height: 1.7;

  a {
    color: var(--text-faded);
    text-decoration: underline;
  }
}
.form button {
  align-self: center;

  padding: 12px 28px;

  border: 1px solid var(--border-strong);
  border-radius: 999px;

  background: var(--border);

  backdrop-filter: blur(12px);

  color: var(--primary);

  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.05em;

  cursor: pointer;

  transition: all 0.25s ease;
}

.form button:hover:not(:disabled) {
  background: var(--border-strong);
  transform: translateY(-2px);
}

.form button:disabled {
  opacity: 0.65;
  cursor: not-allowed;
}
