.container {
  padding: 32px;
  min-height: 100vh;
  background: var(--background);
}

.header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 42px;
  border-bottom: 1px solid var(--border);
  background: var(--background);
}

.left {
  display: flex;
  align-items: center;
}

.logo {
  width: 160px;
  height: 60px;
  border-radius: 8px;
}

.right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.controlsRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  margin-bottom: 28px;
}

.dateText {
  width: 240px;
  height: 20px;
  border-radius: 999px;
}

.lastUpdatedText {
  width: 160px;
  height: 20px;
  border-radius: 999px;
}

.heading {
  width: 150px;
  height: 28px;
  border-radius: 999px;
  margin-bottom: 24px;
}

.logoutButton {
  width: 80px;
  height: 24px;
  border-radius: 999px;
}

.statsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-bottom: 32px;
}

.statCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 140px;

  padding: 24px;

  border-radius: 20px;

  background: var(--white-5);
}

.iconWrapper {
  display: flex;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.statContent {
  display: flex;
  flex-direction: column;
}

.bigLine {
  width: 80px;
  height: 32px;
  margin-bottom: 8px;
  border-radius: 999px;
}

.smallLine {
  width: 60px;
  height: 14px;
  border-radius: 999px;
}

.highlightGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.highlightCard {
  border-radius: 24px;
  padding: 20px;
  height: fit-content;
  background: linear-gradient(
    90deg,
    var(--white-6) 25%,
    var(--white-12) 50%,
    var(--white-6) 75%
  );
}

.content {
  display: flex;
  gap: 20px;
}

.image {
  flex: 1;
  height: 180px;
  border-radius: 16px;
}

.details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.userLine {
  width: 120px;
  height: 20px;
  border-radius: 999px;
}

.title {
  width: 80%;
  height: 24px;
  border-radius: 999px;
}

.button {
  width: 90px;
  height: 36px;
  border-radius: 999px;
}

.stats {
  display: flex;
  gap: 18px;
}

.stat {
  width: 100px;
  height: 32px;
  border-radius: 999px;
}

.logo,
.dateText,
.lastUpdatedText,
.logoutButton,
.heading,
.icon,
.smallLine,
.bigLine,
.image,
.userLine,
.title,
.button,
.stat {
  background: linear-gradient(
    90deg,
    var(--white-6) 25%,
    var(--white-12) 50%,
    var(--white-6) 75%
  );

  background-size: 200% 100%;

  animation: shimmer 1.4s infinite;
}

@keyframes shimmer {
  from {
    background-position: 200% 0;
  }

  to {
    background-position: -200% 0;
  }
}

@media (max-width: 900px) {
  .statsGrid,
  .highlightGrid {
    grid-template-columns: 1fr;
  }

  .container {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 0 20px;
  }

  .dateText {
    width: 160px;
  }
  .lastUpdatedText {
    display: none;
  }
}
