.pageWrapper {
  min-height: 100vh;
  background-color: var(--background);
}

.container {
  padding: 36px 42px;

  display: flex;
  flex-direction: column;
  gap: 28px;
}

.controlsRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
}

.dateWrapper {
  position: relative;
}

.dateButtonText {
  display: flex;
  align-items: center;
  gap: 8px;
  background: transparent;
  border: none;
  font-size: 14px;
  font-family: var(--font-general-grotesque), sans-serif;
  cursor: pointer;
  padding: 0;

  span {
    color: white;
  }

  .date {
    color: var(--text-muted);
  }

  svg:last-child {
    transition: transform 0.25s ease;
  }
}

.rotate {
  transform: rotate(180deg);
}

.lastUpdated {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  font-size: 14px;
  font-family: var(--font-general-grotesque), sans-serif;
}

.statsGrid {
  display: flex;
  gap: 24px;
}

.statsGrid > * {
  flex: 1;
  min-width: 0;
}

.highlightGrid {
  display: flex;
  gap: 24px;
}

.highlightGrid > * {
  flex: 1;
  min-width: 0;
}

.heading {
  color: var(--wheat);
  font-size: 24px;
  font-weight: 400;
  font-family: var(--font-general-grotesque);
  letter-spacing: 1.4;
  margin-bottom: 20px;
}

.loading {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--primary);
}

@media (max-width: 1100px) {
  .statsGrid,
  .highlightGrid {
    flex-direction: column;
  }

  .container {
    padding: 24px;
  }
}

@media (max-width: 768px) {
  .controlsRow {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}

.spin {
  animation: spin 1s ease-out;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
